.card {
  position: relative;

  @include hover {
    .image {
      transform: scale(1.15);
    }
  }
}

.image {
  transition: 1s all ease;
  transform: scale(1.05);
}

.newest {
  position: absolute;
  top: -5px;
  right: -65px;
  background-color: var(--mantine-color-priDark-3);
  color: var(--mantine-color-priLight-7);
  width: 160px;
  height: 40px;
  transform: rotate(45deg);
}

.linkAuthor {
  @include hover {
    .linkAuthorName {
      text-decoration: underline;
    }
  }
}

.linkAuthorName {
}
