.footer {
  background-color: light-dark(
    var(--mantine-color-priLight-8),
    var(--mantine-color-priLight-9)
  );
  color: var(--mantine-color-white);
}

.listItem {
  text-align: start;

  @include smaller-than($mantine-breakpoint-md) {
    text-align: center;
  }
}

.link {
  color: light-dark(
    var(--mantine-color-priDark-3),
    var(--mantine-color-priDark-3)
  );
  font-weight: 500;

  @include hover {
    color: var(--mantine-color-pri-6);
  }
}
