.controls {
  display: none;
  justify-content: end;
  gap: var(--mantine-spacing-xs);

  @include larger-than($mantine-breakpoint-xs) {
    display: flex;
  }
}

.control {
  background-color: light-dark(
    var(--mantine-color-priLight-7),
    var(--mantine-color-priDark-3)
  );

  color: light-dark(
    var(--mantine-color-priDark-3),
    var(--mantine-color-priLight-7)
  );
}
